
@{
    ViewData["Title"] = "Index";
}

<h1>Persona</h1>

<div id="divTabla">

</div>

@section Scripts
{
    <script src="~/js/persona.js"></script>

    <script src="~/js/validaciones.js"></script>
}

